<p>admin-links works!</p>
<div class="row">
    <div class="col">

    </div>

    <div class="col">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- <a class="nav-link" [routerLink]="['/grades']">Grades</a> -->
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" [routerLink]="['/subjects']">Subjects</a> -->
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" [routerLink]="['/chapters']">Chapters</a> -->
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" [routerLink]="['/quizes']">Quizes</a> -->
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" [routerLink]="['/questions-types']">Questions Types</a> -->
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/uploader']">Upload images</a>
            </li> -->
        </ul>
    </div>

    <div class="col">

    </div>


</div>