<br>



        <h4 class="card-title">Set new password.</h4>
        <hr class="bar" />
        <form class="forms-sample" [formGroup]="passwordForm" (ngSubmit)="savePassword()">

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password"
                    placeholder="Password" [ngClass]="{'is-invalid': passwordForm.get('password').errors &&
                                             ((passwordForm.get('password').touched ||
                                              passwordForm.get('password').dirty) &&
                                              !passwordForm.get('password').valid) }" />
                <span class="invalid-feedback">
                    <span *ngIf="passwordForm.get('password').errors?.required">
                        Please enter your password.
                    </span>
                    <span *ngIf="passwordForm.get('password').errors?.pattern">
                        At least one upper case English letter A-Z,<br>
                        At least one lower case English letter a-z,<br>
                        At least one digit 0-9,<br>
                        At least one special character [#?!@$%^&*,<br>
                        Minimum eight in length 6.<br>
                    </span>
                </span>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                    placeholder="Confirm Password" [ngClass]="{'is-invalid': passwordForm.get('confirmPassword').errors &&
                                             ((passwordForm.get('confirmPassword').touched ||
                                              passwordForm.get('confirmPassword').dirty) &&
                                              !passwordForm.get('confirmPassword').valid) }" />
                <span class="invalid-feedback">
                    <span *ngIf="passwordForm.get('confirmPassword').errors?.required">
                        Please enter your password.
                    </span>
                    <span *ngIf="passwordForm.hasError('notSame')">
                        Passwords do not match
                    </span>
                </span>
            </div>



            <button type="submit" id="save-btn" class="btn btn-primary btn-lg btn-block"
                [disabled]="passwordForm.invalid">
                Save
            </button>


            <!--
        <button class="btn btn-light" [routerLink]="['/home']">Cancel</button>
      -->
        </form>

