<!-- <h4 *ngIf="errorMsg" style="color:red"><i class="fas fa-exclamation-circle"></i> {{errorMsg}}</h4> -->
<!-- <ngx-spinner color="#f97924"></ngx-spinner> -->

<div *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> {{errorMsg}}.
</div>

<div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> {{successMsg}}.
</div>


<div class="card mx-auto col-lg-4 col-sm-6">
    <div class="card-body">
        <h4 class="card-title">New Password</h4>
        <hr class="bar">
        <form class="forms-sample" [formGroup]="resetPasswordForm" (ngSubmit)="submit()" [ngClass]="{'has-error': (resetPasswordForm.get('password').touched||
        resetPasswordForm.get('password').dirty &&
        !resetPasswordForm.get('password').valid)}">

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password"
                    placeholder="Password" [ngClass]="{'is-invalid': resetPasswordForm.get('password').errors &&
                                                         ((resetPasswordForm.get('password').touched ||
                                                          resetPasswordForm.get('password').dirty) &&
                                                          !resetPasswordForm.get('password').valid) }" />
                <span class="invalid-feedback">
                    <span *ngIf="resetPasswordForm.get('password').errors?.required">
                        Please enter your password.
                    </span>
                    <span *ngIf="resetPasswordForm.get('password').errors?.pattern">
                        At least one upper case English letter A-Z,<br>
                        At least one lower case English letter a-z,<br>
                        At least one digit 0-9,<br>
                        At least one special character [#?!@$%^&*,<br>
                        Minimum eight in length 6.<br>
                    </span>
                </span>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                    placeholder="Confirm Password" [ngClass]="{'is-invalid': resetPasswordForm.get('confirmPassword').errors &&
                                                         ((resetPasswordForm.get('confirmPassword').touched ||
                                                          resetPasswordForm.get('confirmPassword').dirty) &&
                                                          !resetPasswordForm.get('confirmPassword').valid) }" />
                <span class="invalid-feedback">
                    <span *ngIf="resetPasswordForm.get('confirmPassword').errors?.required">
                        Please enter your password.
                    </span>
                    <span *ngIf="resetPasswordForm.hasError('notSame')">
                        Passwords do not match
                    </span>
                </span>
            </div>




            <button type="submit" id="register-btn" class="btn btn-primary btn-lg btn-block"
                [disabled]="resetPasswordForm.invalid">
                Submit
            </button>




        </form>

    </div>
</div>